<!--Principal de resgitros-->
{% extends "inicio/encabezado.html" %}

{% block titulo %} COMENTARIOS {% endblock %}

{%block imagen%}
    {%load static%}
    {%static 'inicio/imagenes/home.png'%}
{%endblock%}

{%block info%}
    Comentarios<span>Comentario</span>
{%endblock%}
{%block encabezado%}
			<!--Encabezdo -->
			<!-- cambio de prueba para git -->



					<h3>COMENTARIOS
				    <small>Lista de Comentarios </small></h3>
			<!-- /Encabezado-->
			 {%endblock%}
{% block contenido%}
<!--Tabla de alumnos -->
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Usuario</th>
			<th>Mensaje</th>
			<th></th>
			<th></th>
			

		</tr>
	</thead>
	<tbody>
         {% for comentario in comentarios %}
       
		<tr>
            <td class="muted">{{comentario.usuario}}</td>
            <td class="muted">{{comentario.mensaje}}</td>
            <td class="text-center"><a href="{%url 'ConsultaIndividual' comentario.id%}">Editar</a>
			</td>
            <td class="text-center"><a href="{%url 'Eliminar' comentario.id%}">Eliminar</a>
            </td>
			
		</tr>
        {% endfor %}
        
	</tbody>
	</table>
	<!--/Tabla de alumnos-->
{%endblock%}