{% extends "inicio/encabezado.html" %}
{% block titulo %} ELIMINAR {% endblock %}
{%block imagen%}
    {%load static%}
    {%static 'inicio/imagenes/contacto.jpeg'%}
{%endblock%}
{%block info%}
    Contacto<span>contactanos</span>
{%endblock%}
{%block encabezado%}
			<!--Encabezdo -->
					<div class="page-header">
                        <div class="page-title">
                            <h3>ELIMINAR COMENTARIO</3>
                        </div>
                    </div>
		
			<!-- /Encabezado-->
			 {%endblock%}
{% block contenido%}
<form method="POST">
    {% csrf_token %}
    <div class="callout callout-danger fade in">
        <h5>Eliminando Comentarios</h5>
        <p>Estas seguro de que deseas <strong>Eliminar</strong> el comentario seleccionando?.</p>

    </div>
    <button type="submit" class="btn btn-danger">Si</button>
    <a href="{%url 'Comentarios'%}" class="btn btn-primary">Cancelar</a>
</form>
			


{%endblock%}