{% extends "inicio/encabezado.html" %}

{% block titulo %} Lista de Comentarios {% endblock %}

{% block imagen %}
    {% load static %}
    {% static 'inicio/imagenes/contacto.png' %}
{% endblock %}

{% block info %}
    Contacto <span>DSM</span>
{% endblock %}

{% block encabezado %}  
<div class="page-header">
    <div class="page-title"> 
<h3>Comentarios
    <small>Lista de Comentarios</small>
</h3>

    </div>
</div>  
{% endblock %}

{% block contenido %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Mensaje</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for comentario in comentarios %}
        <tr>
            <td>{{ comentario.usuario }}</td>
            <td>{{ comentario.mensaje }}</td>
            <td>
                <button class="btn btn-warning btn-sm">Editar</button>

                <a href="{% url 'Eliminar' comentario.id %}" 
                   class="btn btn-danger btn-sm">
                    Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}